
.main-content {
    background-color: var(--background-primary-complementary);  
    padding: 0 var(--default-margins) 0 var(--default-margins);
    border-radius: var(--default-boarder-radius);
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}



.backgrond-color-container {
    background-color: var(--background-color);  
    padding: var(--default-margins);
    border-radius: var(--default-boarder-radius);
    
}

#home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#content-container {
    display: flex;
    flex-direction: row;
    margin: 0 var(--default-margins) 0 var(--default-margins);
    min-height: 0;
    flex: 1;
}

#home-main {
    background-color: var(--background-primary-complementary);
    border-radius: var(--default-boarder-radius);
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

#playlist-bar {
    margin-right: var(--default-margins);
    background-color: var(--background-primary-complementary);
    border-radius: var(--default-boarder-radius);
    width: 400px;
    scrollbar-gutter: stable;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: var(--default-margins);
    min-height: 0;
}

/* Ensures that scroll bar is visible when hovering*/
#playlist-bar:has(#playlist:hover)::-webkit-scrollbar-thumb,
#playlist-bar:has(h2:hover)::-webkit-scrollbar-thumb,
#playlist-bar:has(hr:hover)::-webkit-scrollbar-thumb,
#playlist-bar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color);
}

#playlist {
    display: flex;
    flex-direction: row;
    width: auto;
    box-sizing: border-box;
    height: 100px;
   
    transition: transform 0.2s ease, background-color 0.2s ease;
    transform-origin: left center;
}

#playlist:hover {
  opacity: 0.8;
  background-color: color-mix(in srgb, var(--background-color) 60%, white 20%);
  transform: scale(1.05);
  cursor: pointer;
}

#music-project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#music-project {
    width: 150px;
    height: 200px;
    margin: var(--default-margins);
}