:root {
	--background-color: hsl(254, 50%, 21%);
	--background-primary-complementary:  hsl(240, 37%, 29%);;
	--primary-accent: white;
	--default-boarder-radius: 8px;
	--default-margins: 15px
}

body, html #root{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
}

h3 {
	color: var(--primary-accent);
}

p {
	color: var(--primary-accent);
}