:root {
  --primary-background-color: hsl(272, 32%, 10%);
  --secondary-background-color: hsl(277, 38%, 13%, 0.7);
  --language-dropdown-bg: hsla(293, 42%, 24%, 0.7);
   --language-dropdown-selected: hsl(277, 38%, 13%, 0.7);
}

body, html #root{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: var(--primary-background-color);
}