canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
}

body::-webkit-scrollbar  {
    /* disable scroll on chrome safari and edge */
    display: none;
}


header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header nav a {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:white;
    margin-left: 1rem;
}

header a {
    padding: 5px;
    color: white;
    font-family: "roboto";
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

header #homeLogo {
    font-size: 40px;
}

#sidebarActive {
    display: none;
}

header nav a:hover{
    border-bottom: 7px solid white;
}

#sidebar nav a:hover{
    background-color: lightgray;
}

#sidebar {
    display: none;
}

main {
    position: relative;
    top: 0;
    left: 0;
    font-family: fantasy;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
    color:white;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: grid;
    min-height: 1vh;
    width: 100%;
    display: grid;
}

#home {
    height: 100vh;
}
#scroll {
    text-align: center;
    align-self: center;
    padding: 2%;
    font-size: 70px;
    grid-column: 1/3;
}

#moon {
    align-self: end;
    grid-row: 3;
    padding: 2%;
}

#location {
    text-align: right;
    align-self: end;
    padding: 2%;
    grid-row: 3;
}


#transition {
    height: 100vh;
}

#about {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr
}

#media {
    padding-bottom: 20%;
    height: 550px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    align-self: center;
}

#impression {
    margin: 0;
    align-self: end;
    text-align: center;
    font-size: 70px;
}

#selfie {
    height: 550px;
    width: 100%;
    max-width: 500px;
    min-width: 300px;

    background-color: white;
    place-self: center;
    
}

#description {
    padding-right: 15%;
    padding-left: 15%;
    align-self: center;
    text-align: center;
}

#description a {
    color: white;
    text-decoration: none;
    border-bottom: 4px solid white;

}


#projects {
    grid-template-rows: auto auto auto;
}

#check {
    margin: 0;
    padding-left: 5%;
    font-size: 70px;
    align-self: flex-start;
}

#making {
    padding-left: 5%;
    margin-top: 0;
    align-self: flex-start;
}


.projectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, 350px);
    gap: 40px;
    width: 90%;
    min-height: 100%;
    place-self: center;
    align-self: end;
    font-size: 20px;
    background-color: #1f1b24;
    color: white;
}

.project:hover {
    transform: translateY(-5px);
}

.project {
    display: grid;
    grid-template-rows: auto auto auto;
    border: 10px solid white;
    border-radius: 10px 10px 10px 10px;
    min-height: 300px;

    padding: 4%;
}

.project img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 9px solid white;
    place-self: center;

}

.project a {
    min-height: 50px;
    grid-row: 3;
    background-color: white;
    color: #1f1b24;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    align-self: end;
    text-decoration: none;
    align-content: center;

}
@media(max-width: 580px) {
    #projects {
        gap: 30px;
    }
    .projectContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, 350px);
        gap: 20px;
        min-height: 100%;
        place-self: center;
        align-self: end;
        font-size: 20px;
        background-color: #1f1b24;
        color: white;
    }


}

.project img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 9px solid white;
    place-self: center;

}

.project a {
    min-height: 50px;
    grid-row: 3;
    background-color: white;
    color: #1f1b24;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    align-self: end;
    text-decoration: none;
    align-content: center;
}

#contact {
    gap: 40px;
    grid-template-rows: auto auto;
    padding-bottom: 4%;
}

#contact p {
    margin: 0;
    padding: 0;
    font-size: 70px;
    place-self: flex-start;
    justify-self: center;
}

#contactBox {
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    min-width: 280px;
    width: 50%;
    max-width: 500px;
    height: auto;
    padding: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 15px;
    place-self: center;
    border-radius: 10px 10px 10px 10px;

}

#contactBox form {
    display: grid;
    gap: 40px;
}

#contactBox input {
    background-color: #1f1b24;
    height: 40px;
    display: grid;
    color: white;
    place-content: center;
    border-radius: 10px 10px 10px 10px;

}

#contactBox button {
    height: 40px;

}

#contactBox textarea {
    resize: none;
    overflow-y: hidden;
    width: 100%;
    height: 100px;
    background-color: #1f1b24;
    color: white;
    border-radius: 10px 10px 10px 10px;
}

#contactBox input::placeholder {
    text-align: center;
    color: white;
}

#contactBox textarea::placeholder {
    height: 100px;
    overflow-y: hidden;
    resize: none;
    background-color: #1f1b24;
    place-content: center;
    text-align: center;
    color: white;
}

#selfie {
    padding: 2%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#selfie img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    place-self: center;
}

#send {
    background-color: #1f1b24;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    height: 400px;
    border-radius: 10px 10px 10px 10px;
}

@media(max-width: 1200px) {
    #sidebar {
        left: -400px;
        background: white;
        display: grid;
        position: fixed;
        height: 100%;
        width: 400px;
        grid-template-rows: repeat(12, 1fr);
        text-align: right;
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }

    #hamburgerIcon {
        position: fixed;
        margin: 3%;
        width: 40px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
    }
    
    #sidebar a {
        display: block;
        padding: 15px;
        background-color: white;
        color: #1f1b24;
        font-family: "roboto";
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
    }

    #sidebar a:hover {
        background-color: gray;
    }

    #extraSpace {
        border: 1px solid red;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100vw - 403px);
        height: 100%;
    }

    #navbar {
        display: none;
    }

    #hamburgerIcon {
        position: fixed;
        margin: 3%;
        width: 40px;
        height: 30px;
        cursor: pointer;
        z-index: 200;
    }

    #hamburgerIcon span {
        position: absolute;
        width: 100%;
        height: 5px;
        background: white;
        transition: all 0.3s ease-in-out;
    }

    #hamburgerIcon span:nth-child(1) { 
        top: 0;
    }

    #hamburgerIcon span:nth-child(2) {
        top: 13px;
    }

    #hamburgerIcon span:nth-child(3) {
        top: 25px;
    }

    #hamburgerIcon span:nth-child(1),
    #hamburgerIcon span:nth-child(2),
    #hamburgerIcon span:nth-child(3) {
        border-radius: 5px 5px 5px 5px;
    }

    #sidebar #closeIcon {
        color: red;
        cursor: pointer;
    }

    #sidebar #closeIcon:hover {
        background-color: #f5cbc9;
    }

    #sidebarActive:checked ~ #sidebar {
        left: 0;
    }

    #sidebarActive:checked ~ #hamburgerIcon {
        display: none;
    }

    #sidebarActive:checked ~ #sidebar #extraSpace {
        display: block;
    }

    #sidebar #sidebarName:hover {
        background-color: white;
    }

    #sidebar #sidebarName{
        font-size: 50px;
    }
}