canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar  {
    /* disable scroll on chrome safari and edge */
    display:none;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    color:white;
    margin-left: 1rem;
}

header a {
    padding: 15px;
    color: white;
    font-family: "roboto";
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;

}

header #homeLogo {
    font-size: 40px;
}


#sidebar {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 100px);

}   

#sidebar a {
    display: block;
    padding: 15px;
    background-color: white;
    color: #1f1b24;
    font-family: "roboto";
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

#sidebar #sidebarLogo {
    display: block;
    padding: 15px;
    background-color: white;
    color: #1f1b24;
    font-family: "roboto";
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

header nav a:hover{
    border-bottom: 0.5vw solid white;
}

.sidebar nav a:hover{
    background-color: lightgray;
}